    <main id="slots">
    </main>

    <div id="code" class="hidden">
        <div id="qrcode"></div>
        <div class="input">Scan this QR Code to validate your appointment</div>
    </div>

    <footer>
        <button disabled id="btn-book">Book</button>       
    </footer>

    <script id="slot-template" type="text/x-handlebars-template">
        <div class="slot" id="slot-\{{{id}}}">
            <button id="btn-slot-\{{{id}}}">\{{{time}}}</button>       
        </div>
    </script>
</body>