    <div id="container">
        <h2>Dashboard</h2>

        <h3>Activity</h3>
        <canvas id="metrics" width="300" height="100"></canvas>   
        
        <h3>Installed Apps</h3>
         <div id="appsInstalled">
                <div class="apps">
                    <img width="120px" src="/images/order.jpg"/>
                    <h2>Order!</h2>
                    <p>Order Service allows multiple channels to collaborate on the overall lifecycle of an Order from creation to fulfillment.</p>
                    <div id="qrCode-order" class="appCode"></div>
                    <div class="button"><a href="#" id="order" class="submitButton">Configure</a></div>
                </div>

                 <div class="apps">
                    <img width="120px" src="/images/coupon.jpg"/>
                    <h2>Coupon!</h2>
                    <p>Coupon service allows to find special offers and discounts based on the loyalty program a customer is enrolled into.</p>
                    <div id="qrCode-coupon" class="appCode"></div>
                    <div class="button"><a href="#" id="coupon" class="submitButton">Configure</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/loyalty.jpg"/>
                    <h2>Loyalty Program!</h2>
                    <p>Discounts capture customer attention for awhile. Loyalty programs capture customer attention for life.</p>
                    <div id="qrCode-loyalty" class="appCode"></div>
                    <div class="button"><a href="#" id="loyalty" class="submitButton">Configure</a></div>
                    <div class="button"><a href="#" id="loyalty" class="submitButton">Print</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/giveaway.jpg"/>
                    <h2>Loyalty Giveaway</h2>
                    <p>Engage your customers with rewards and make them your new loyalty customers.</p>
                    <div id="qrCode-giveaway" class="appCode"></div>
                    <div class="button"><a href="#" id="loyalty" class="submitButton">Add</a></div>
                </div>

        </div>
    </div>   
