<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NCR QR Web Application</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="dashboard.js"></script>
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <div class="image-wrapper">
          <img src='images/ncr-logo.png' alt="image" class="center">
        </div>
        <header>QR App Store</header>
        <form id = "myform" name ="myform" action="/login" method="POST">
          <div class="field">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="Enter Username" id ="usnname" name ="usnname">
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input type="password" class="pass-key" required placeholder="Password" id ="pwd" name ="pwd">
          </div>
          <div class="field space">
            <span class="fa fa-lock"></span>
            <input type="text" class="pass-key" required placeholder="Organization" id ="org" name ="org">
          </div>

<div class="pass">
          </div>
<div class="field">
            <input type="submit" value="LOGIN">
          </div>
</form>
</div>
<div id="result"></div>
</div>
  </body>
</html>