    <main id="loyalty">
        <h4>Join our loyalty program and earn points with every purchase.</h4>

        <div class="input">
            <label for="email_field" class="placeLabel">Email</label>
            <input name="email" id="email_field" type="email" tabindex="0" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </label>

        <div class="input align-center">or</div>

        <div class="input">
            <label for="phone_field" class="placeLabel">Phone</label>
            <input name="phone" id="phone_field" type=number pattern="[0-9]*" tabindex="1" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </label>

        <div class="optional">Optional information</div>

        <div class="input">
            <label for="firstName_field" class="placeLabel">First Name</label>
            <input name="firstName" id="firstName_field" type="text" tabindex="2" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </label>

        <div class="input">
            <label for="lastName_field" class="placeLabel">Last Name</label>
            <input name="lastName" id="lastName_field" type="text" tabindex="3" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </label>

    </main>

    <div id="code" class="hidden">
        <div id="qrcode"></div>
        <div class="input">Scan this QR Code at the point of sale</div>
    </div>

    <footer>
        <button id="signup">Sign Up</button>     
        <div id="alternative" class="hidden">
            <div class="input align-center">or</div>
            <button id="signup">Register Online</button>       
        </div>  
    </footer>

</body>