    <main id="menu">
        <section id="payment" style="display: none;">
            <h2>Payment</h2>
            <div>
                <input type="checkbox" id="scales" name="scales"
                    checked>
                <label for="scales">Credit Card</label>
            </div>            
        </section>

        <section id="receipt" style="display: none;">
            <h2>Receipt</h2>
            <div>
                <input type="checkbox" id="scales" name="scales"
                    checked>
                <label for="scales">Printed Receipt</label>
        
                <div>
                    <input type="checkbox" id="scales" name="scales"
                    checked>
                    <label for="scales">Digital Receipt</label>
                </div>
            </div>
        
            <div>
                <label>Email address</label>
                <input type="text">   
            </div>
        
            <div>
                <label>Phone number</label>
                <input type="text">   
            </div>
            </section>    
    </main>

    <div id="qrcode"></div>

    <footer>
        <button id="checkout">Checkout</button>       
    </footer>
</body>