    <div id="settings">
        <h2>Settings</h2>

        <h3>Customizations</h3>
        <div class="input">
            <label for="email_field" class="placeLabel">Brand Logo</label>
            <input name="email" id="email_field" type="email" tabindex="0" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </div>
    
        <div class="input">
            <label for="email_field" class="placeLabel">Brand Color</label>
            <input name="email" id="email_field" type="email" tabindex="0" autocomplete="email" maxlength="50" minlength="5" dir="ltr">
        </div>

        <div id="actions">
            <button id="saveSettings">Save</button>       
        </div>
    </div>   
