    <div id="container">
                    <h2>QR App Store</h2>

        <div id="voting">
                <div class="apps">                    
                    <img width="120px" src="/images/menu.png"/>
                    <h2>Menu!</h2>
                    <p>Menu service enables configuration of items from catalog service in order to produce an enhanced menu experience.
                    </p>
                    <div class="button"><a href="#" id="menu" class="submitButton">Add</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/order.jpg"/>
                    <h2>Order!</h2>
                    <p>Order Service allows multiple channels to collaborate on the overall lifecycle of an Order from creation to fulfillment.
                      </p>
                    <div class="button"><a href="#" id="order" class="submitButton">Add</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/coupon.jpg"/>
                    <h2>Coupon!</h2>
                    <p>Coupon service allows to find special offers and discounts based on the loyalty program a customer is enrolled into.</p>
                    <div class="button"><a href="#" id="coupon" class="submitButton">Add</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/catalog.jpg"/>
                    <h2>Catalog!</h2>
                    <p>Catalog Service allows integrating systems to use a common data model to write, search for, and retrieve product data. The current APIs cover global product data, and location-based attributes, prices, groups, and categories.
                     </p>
                    <div class="button"><a href="#" id="catalog" class="submitButton">Add</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/loyalty.jpg"/>
                    <h2>Loyalty Program!</h2>
                    <p>Discounts capture customer attention for awhile. Loyalty programs capture customer attention for life.
                    </p>
                    <div class="button"><a href="#" id="loyalty" class="submitButton">Add</a></div>
                </div>

                <div class="apps">
                    <img width="120px" src="/images/booking.png"/>
                    <h2>Book Appointment!</h2>
                    <p>Books an appointment for your store to assure availability and proper assistance to the customer as well as to limit the number of people in the store.
                    </p>
                    <div class="button"><a href="#" id="booking" class="submitButton">Add</a></div>
                </div>
        </div>
    </div>   
