.input {
    margin: 10px 0;
}

.coupon {
    background-color: #f7f6f6;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    margin: 20px 0;
    padding: 10px;
}

.coupon.selected {
    background-color: #fdf7d8;
}

.coupon h4 {
    font-size: 1.1em;
}

.coupon .icon {
    text-align: center;
}

.expiration {
    margin: 10px 0;
    font-style: italic;
}

.clip {
    text-align: center;
}

.clip button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding: 10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    width: 200px;
}