section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.input {
    margin: 20px 0;
}

#receipt label, #payment label {
    display: inline;
}

.printedReceipt, .digitalReceipt {
    display: inline-block;
    width: 40px;
}

#notification label.placeLabel {
    font-weight: 700;
}

#notification input {
    background-color: #fdf7d8;
    border: 1px solid #ccc;
    box-shadow: none;
    font-size: 16px;
    padding: 10px 10px;
    width: 90%;
}

#notification .optional {
    font-weight: 700;
    margin: 40px 0;
    text-align: center;
}
